<!--
Base template for all templates, all other templates should extend this one.
All elements that are on all pages should be defined here.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <!-- Bootsprap CSS link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- Bootstrap JavaScript link -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous">
    </script>

    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}


</body>

</html>